@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Miroslav';
  src: url('../fonts/MIROSLN.ttf') format('truetype');
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: #303133;
  position: relative;
}