* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    word-wrap: break-word;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    overflow-x: hidden;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h2 {
    font-size: 48px;
}

@media (max-width: 1200px) {
    h2 {
        font-size: 38px;
    }
}

@media (max-width: 1024px) {
    h2 {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    h2 {
        font-size: 26px;
    }
}

@media (max-width: 450px) {
    h2 {
        font-size: 22px;
    }
}