.templates {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: black;
    color: #fff;

    padding: 100px 50px;
}

.templates .templates-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    max-width: 1400px;
}

.templates-content-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: left;
    gap: 40px;
}

.templates-content-div h2 {
    font-size: 48px;
}

.templates-content-div p {
    font-size: 20px;
}

.templates-content-div a {
    font-size: 20px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    max-width: 300px;
    text-align: center;
    border-radius: 6px;
}

.templates-content-div a:hover {
    color: #000;
    background-color: #fff;
    transition: .3s ease;
}

.templates .templates-container img {
    max-width: 500px;
}

@media (max-width: 1200px) {
    .templates-content-div h2 {
        font-size: 44px;
    }
    
    .templates-content-div p {
        font-size: 19px;
    }
    
    .templates .templates-container img {
        max-width: 450px;
    }
}

@media (max-width: 1024px) {
    .templates .templates-container {
        flex-direction: column;
    }

    .templates-content-div h2 {
        font-size: 42px;
    }
    
    .templates-content-div p {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .templates .templates-container img {
        max-width: 400px;
    }

    .templates-content-div h2 {
        font-size: 34px;
    }
    
    .templates-content-div p {
        font-size: 16px;
    }

    .templates-content-div a {
        max-width: 250px;
        font-size: 16px;
    }
}

@media (max-width: 450px) {
    .templates .templates-container img {
        max-width: 300px;
    }

    .templates-content-div h2 {
        font-size: 28px;
    }
    
    .templates-content-div p {
        font-size: 14px;
    }

    .templates-content-div a {
        max-width: 220px;
        font-size: 14px;
    }
}