.header {
    position: relative;
    background-color: #fff;
    padding: 0 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 66px;
}

.logo img {
    max-height: 50px;
    margin-top: 10px;
}

.nav {
    display: flex;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 25px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #333;
    padding: 8px 0;
    position: relative;
}

.nav-item a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: width 0.3s;
}

.nav-item a:hover::after {
    width: 100%;
}

.nav-item.special a {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}

.nav-item.special a:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    transition: .3s ease;
}

.nav-item.special a::after {
    display: none;
}

.nav-item.login a {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    padding: 12px 20px;
    border-radius: 4px;
    margin-left: -10px;
    font-size: 14px;
}

.nav-item.login a:hover {
    color: #fff;
    background-color: #000;
    transition: .3s ease;
}

.nav-item.login a::after {
    display: none;
}

.nav-toggle {
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.burger span {
    display: block;
    height: 3px;
    background-color: #333;
    border-radius: 2px;
    transition: all 0.3s;
}

.close-btn {
    display: none;
    font-size: 3rem;
    align-self: flex-end;
    cursor: pointer;
    margin-top: -15px;
    margin-bottom: 20px;
}

.mobile-nav-overlay {
    display: none;
}

@media (max-width: 1024px) {
    .burger {
        display: flex;
    }

    .nav-item.login a {
        margin-left: 0px;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding: 20px;
        transition: right 0.3s;
        z-index: 1001;
    }

    .nav-list {
        flex-direction: column;
        margin-top: 20px;
    }

    .nav-item {
        margin: 15px 0;
    }

    .nav-toggle {
        display: block;
    }

    .close-btn {
        display: flex;
    }

    .mobile-nav-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s;
        z-index: 1000;
    }

    #nav-toggle:checked~.header-container .nav {
        right: 0;
    }

    #nav-toggle:checked~.mobile-nav-overlay {
        opacity: 1;
        visibility: visible;
    }

    #nav-toggle:checked~.header-container .burger span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #nav-toggle:checked~.header-container .burger span:nth-child(2) {
        opacity: 0;
    }

    #nav-toggle:checked~.header-container .burger span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}